.sticky {
  position: sticky;
  top: 0;
  z-index: 100;
}

#btn-sticky {
  position: sticky;
  top: 77px; 
  z-index: 99; 
  display: flex;
  justify-content: center;
  background-color: rgba(185, 233, 181, 0.9); /* Darker green with 90% opacity */
background-image: linear-gradient(to bottom, rgba(167, 211, 85, 0.95), rgba(173, 180, 154, 0.4));
  background-color: ;
  padding: 30px;
}


  
  .hidden {
    display: none;
  }

  
  .btn-container-middle {
    display: flex;
    justify-content: center;
    gap: 10px;
  }

  .my-btn:hover {
    background-color: rgb(67, 70, 65); 
    color: white; 
}