.sticky {
  position: sticky;
  top: 0;
  z-index: 100;
}

#btn-sticky {
  position: sticky;
  top: 77px; 
  z-index: 99; 
  display: flex;
  justify-content: center;
  background-color: rgba(185, 233, 181, 0.9);
  background-image: linear-gradient(to bottom, rgba(167, 211, 85, 0.95), rgba(238, 240, 236, 0.219));
  padding: 30px;
}


  
  .hidden {
    display: none;
  }

  
  .btn-container-middle {
    display: flex;
    justify-content: center;
    gap: 10px;
  }

  .my-btn {
    background-color:lavender;
    border: none;
  }

  .my-btn:hover {
    background-color: rgb(67, 70, 65); 
    color: white; 
}


.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-box {
  background-color: white;
  padding: 2rem;
  border-radius: 10px;
  text-align: center;
}

.modal-action .btn {
  background-color: #f3f4f6;
  color: black;
  border: none;
}

.modal-action .btn:hover {
  background-color: #e5e7eb;
}


@media (max-width: 1024px) {
  .navbar .container {
      flex-direction: column;
  }

  .card .flex {
      flex-direction: column;
  }

  .btn-container-middle {
      flex-direction: column;
  }

  .sticky {
    position: sticky;
    top: 0;
    z-index: 130;
  }

  #btn-sticky {
    position: sticky;
    top: 137px; 
    z-index: 90; 
    display: flex;
    justify-content: center;
    background-color: rgba(185, 233, 181, 0.9);
  background-image: linear-gradient(to bottom, rgba(167, 211, 85, 0.95), rgba(238, 240, 236, 0.219));
    background-color: ;
    padding: 10px;
  }
}




